.footnote {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(18, 18, 18);
    color: white;
    z-index: 3;
    padding: 0px 40px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}




@media (min-width: 900px) {
    .breaker::after {
        content: "|";
    }
}


@media (max-width: 900px) {
    .footnote {
        flex-direction: column;
        padding: 10px;
    }

    .breaker::after {
        content: "—";
    }
}